// colors
$udWhite: #fff;
$udGrey: #d4d4d4;
$udOrange: #f46231;
$udBlack: #23211e;
$involvedBlue: #1565d8;
$textColor: #100704;

// fonts
$titleFont: -apple-system, Arial, BlinkMacSystemFont, sans-serif;
$bodyFont: -apple-system, Arial, BlinkMacSystemFont, sans-serif;

// header sizes (map to h1 h2 h3 h4 p subtitle)
$f1: 4rem;
$f2: 3rem;
$f3: 2rem;
$f4: 1.5rem;
$f5: 1rem;
$listItem: 1.2rem;
$subtitle: 0.9rem;
$label: 0.8rem;

// spacing
$space-unit: 1em;

$space-xxxs: calc(0.25 * $space-unit);
$space-xxs: calc(0.25 * $space-unit);
$space-xs: calc(0.5 * $space-unit);
$space-sm: calc(0.75 * $space-unit);
$space-md: calc(1.25 * $space-unit);
$space-lg: calc(2 * $space-unit);
$space-xl: calc(3.25 * $space-unit);
$space-xxl: calc(5.25 * $space-unit);
$space-xxxl: calc(8.5 * $space-unit);

// breakpoints
$sm: 576px; //for portrait phones
$md: 768px; //for tablets
$lg: 992px; //for laptops
$xl: 1200px;
$xxl: 1400px; //for large devices
$xxxl: 4000px; //for 4k screens

// Transitions
$nav-transition: all 0.3s linear;
