@import 'app/styles/globals.scss';

.container {
	color: $textColor;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $space-xxl 0 $space-lg;

	h3 {
		font-weight: bold;

		@include for-phone-only {
		text-align: center;
		}
	}

	.social {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.icons {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			color: $textColor;
			font-size: 1.5rem;

			@include for-phone-only {
				font-size: 1rem;
			}

			@include for-tablet-up {
				font-size: 1.2rem;
			}

			@include for-desktop-up {
				font-size: 1.5rem;
			}

			.icon {
				background-color: $udOrange;
				color: $udBlack;
				padding: $space-xs $space-sm $space-xxxs;
				border-radius: 25px;
				margin: $space-lg $space-xs;
			}
		}
	}
}
