@import 'app/styles/globals.scss';

.container {
	background-color: rgba(248, 156, 99, 0.4);
	color: $textColor;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: $space-lg;
	margin-top: $space-xl;

	.stat {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $space-sm 0;

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $involvedBlue;
			background-color: $involvedBlue;
			padding: $space-sm;
			border-radius: 100%;
		}

		h4 {
			padding: $space-xs 0;
		}

		.subtitle {
			font-size: $subtitle;
		}
	}
}
