@import 'app/styles/globals.scss';

.quizContainer {
  align-self: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  border-color: #f6931d;
  border-width: 2px;
  border-style: solid;
  width: 100%;

  h2 {
    font-family: $primaryHeaderFont;
    font-size: $f3;
    color: $involvedBlue;
    text-align: center;
  }

  p {
    // TODO: Add font family
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
}

.submitButton {
  background-color: $udSecondaryOrange;
  color: white;
  border: none;
  padding: $space-sm $space-md;
  font-family: $linkFont;
  font-size: $f5;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($udSecondaryOrange, 10%);
  }
}

.results {
  margin-top: $space-lg;
  font-family: $primaryTextFont;
  font-size: $f4;
  color: $involvedBlue;
  font-weight: bold;
}