@import 'app/styles/globals.scss';

.asideContainer{
    height: 100%;
    width: 200px;
    background-color: $udGrey;
    position: fixed;
    z-index: 1000;
}

.aside {
    display: flex;
    flex-direction: column;
}

.asideLogo {
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 1rem;
    text-align: center;
}

.asideLogOut {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #b9b9b9;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.asideNavbar {
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
    max-height: calc(100vh - 250px); // Account for logo and logout button
    overflow-y: auto;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
    }
}

.asideNavbarButton {
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
    
    &.active {
        font-weight: bold;
    }
}